<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
</head>
<body>
    <div class="inst">
        <h1>-----------------Instructions----------------</h1>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam numquam alias natus? Repellendus numquam beatae nam corrupti corporis, accusantium vero! Esse facilis odio quod vel cum? Officia harum quas corrupti.
        Alias ea, dignissimos hic nostrum aliquam omnis, possimus, aliquid quasi quo labore ratione natus? Aperiam voluptas cupiditate deserunt numquam. Consectetur iusto officiis ipsum aperiam ab aspernatur quae id rerum aut!
        Sint, assumenda. Itaque minus, id qui voluptate modi doloribus voluptas quos sed odit voluptates numquam accusamus at libero doloremque rem totam eveniet, reprehenderit tempore sapiente dolore ut repellat? Quibusdam, ab!
        Earum minima quas expedita sed illum nam voluptatum laboriosam aliquid. Error deserunt aut doloremque quam, consectetur accusamus sunt corporis neque odio tenetur, harum modi corrupti facere voluptas totam provident eaque?
        Explicabo minima quam fugiat provident minus illo unde aliquam sit. Quisquam assumenda illo aliquam dolores reiciendis ipsa doloremque explicabo quae soluta ipsum perferendis facere, ex, rerum asperiores similique quos. Corporis!
        Id officia explicabo vel, ipsam minima corporis dolores ducimus doloribus laboriosam, quis nobis odit eaque! Labore enim minima omnis dolorem amet. Sint obcaecati eius assumenda ex? Cupiditate ab itaque explicabo!
        Facere numquam ipsa voluptates minima. Similique nobis beatae quasi ex eius nemo repudiandae quidem aliquid, qui veritatis. Aperiam, earum dolores omnis ut illo temporibus nostrum voluptatem sed minima dignissimos rerum!
        Ipsa ratione autem optio deleniti natus sapiente sequi laborum unde cum magni vero tempore possimus, officia, nulla quasi corporis. Incidunt accusamus quisquam nobis itaque omnis perferendis natus aliquid ex praesentium!
        Quidem quae nulla totam deserunt nam? Libero pariatur alias quae nemo consequatur blanditiis, illum eos sequi eligendi atque, ipsam a esse, repellendus error laboriosam suscipit! Quia, obcaecati. Sunt, assumenda! Deserunt?
        Praesentium recusandae at, rerum ratione dicta nihil repudiandae magni iure nisi odio quibusdam asperiores dolor, minus veniam deserunt a hic. Quam ullam pariatur illo rem? Veritatis, cumque. Neque, distinctio consequatur.
        Facere ullam repudiandae aut maxime aspernatur totam qui nemo accusantium distinctio, a dolor consectetur earum, rerum reiciendis sapiente eos. Optio asperiores laboriosam, quia aut vel temporibus quis nam voluptatem adipisci.
        Suscipit iure soluta fuga autem modi ipsam perferendis? Expedita explicabo, iste mollitia qui quae ullam veniam nam assumenda, ex cumque minus consequatur distinctio rem hic! Sapiente fuga repellendus nobis natus.
        Rerum modi quae pariatur nobis odio quos, autem dolore aperiam quibusdam laborum minus facere voluptas ratione, magni ducimus, nihil impedit dolor at quod veniam tempore esse! Quidem, consequuntur soluta. Laudantium.
        Unde voluptatum quis quaerat nesciunt. Deserunt at molestiae excepturi officiis molestias obcaecati aliquid? Facere minus facilis enim ex. A at nesciunt totam saepe doloremque sint eligendi quaerat rerum veritatis dolor!
        Molestias qui, placeat assumenda eaque nesciunt voluptatem officiis pariatur tempora modi ad rerum nulla culpa labore explicabo ipsum possimus? Blanditiis accusamus minima minus inventore quis tempore dolore laborum neque sint?
        Laboriosam accusamus inventore quibusdam suscipit libero dicta unde laborum facilis consectetur pariatur expedita deserunt quis, laudantium rem perspiciatis maxime harum vel. Ipsam ducimus nobis, voluptas illo non excepturi molestiae perspiciatis.
        Voluptatum accusantium labore veniam, quidem atque quasi iste. Veritatis explicabo placeat voluptatibus dolorem eos dolorum quas et, enim totam adipisci blanditiis molestiae officiis fugit. Quibusdam voluptatibus sapiente temporibus? Ex, delectus.
        Dolorum, nulla voluptas. Quia soluta ipsum saepe suscipit repudiandae iste quaerat quis esse, sequi non molestiae illo unde, asperiores voluptatum dignissimos accusantium ab architecto! Rem est nam saepe exercitationem modi.
        Explicabo asperiores voluptatem eos id qui tenetur maiores voluptates, enim earum exercitationem ratione sapiente beatae inventore. Officia animi eveniet quidem maxime, perspiciatis maiores impedit ab qui optio iure voluptas officiis.
        Aut del

    </div>
    <div class="start">
        <a href="/science">Click To Start</a>
    </div>
    
</body>
</html>